!!!
%html
  %head
    %title Who's Fancy
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    = yield

:javascript
  $(document).foundation();
